Options all -Indexes

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>

<filesMatch ".(htaccess|txt)$">
    order deny,allow
    deny from all
</filesMatch>
<filesMatch "(index.html|index.php)">
    order allow,deny
    allow from all
</filesMatch>

ErrorDocument 404 /index.html
ErrorDocument 403 /index.html